html,
body {
     font-family: HelveticaNeue-Light;
     color: #d3d3d3;
     margin:0;
     padding:0;
     height:100%;
}
.documentWrapper {
        width: 700px;
        height: 600px;
        font-size: 22px;
        font-weight: 300;
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: 2px;
        vertical-align: middle;
}
.object {
	width: 700px;
	height: 300px;
	display: block;
        margin-right: auto;
        margin-left: auto;
        float: center;
}
#setupProgress {
        width:500px;
        letter-spacing: 2px;
        display: block;
        margin-left:auto;
        margin-right:auto;
}
.logo {
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	display: block;
}
.titleBar {
        border-style: solid;
    border-color: #ed1b24;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    padding-top:5px;
    height: 40px;
    width: 100%;
}

.titleIcon {
    height: 26px;
    width: 26px;
    margin: 5px 0 0 10px;
}

.titleText {
    color: #ed1b24;
    display: inline-block;
    font-family: HelveticaNeue-Light;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 5px 0 0 10px;
    vertical-align: top;
}
.footerBar {
        border-style: solid;
    border-color: #ed1b24;
    border-top-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-top:5px;
    bottom: 0;
    height: 40px;
        left: 0;
    position: absolute;
    width: 100%;
    vertical-align: bottom;
}
.footerText {
    color: #ed1b24;
    display: inline-block;
    font-family: HelveticaNeue-Light;
    font-size:  14px;
    font-weight: 300;
    margin-top: 2px;
    float: right;
    margin-right: 10px;
    padding-right: 5px;
    margin-left: auto;
    letter-spacing: 2px;
    vertical-align: top;
}
ul {
        line-height: 180%;
        list-style-type: none;
}

li:before {
        content: "\21e5";
        color: #f44336;
        padding-right: 8px;
}
.done {
        color: #504c4c;
        display: inline-block;
        padding-left: 10px;
}
.additional-apps {
letter-spacing: 1px;
display: block;
margin-left:auto;
margin-right:auto;
color: black;
font-size: 28px;
width: 400px;
margin-left: 150px;
}
.additional-apps[type=checkbox] {
        width: 20px;
        height: 20px;
}
a.next {
        display: inline-block;
        background-color:#00b4d3;
        font-size: 18px;
        text-decoration: none;
}
.mainImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border: 0;
}
#mainTitle, #mainList, #mainText, #app, #mainStatus {
        font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
        color: #ed1b24;
}
#mainList, #mainStatus {
        margin-left:50px;
        margin-top: 50px;
    text-align: left;
}
#mainStatus {
        margin-top: 20px;
        display: block;
        font-size: 28px;
        color: #504c4c;
}
#mainText, #app {
        color: #504c4c;
}

#mainTitle {
        font-weight: 600;
}

#subText {
        margin-left: 100px;
}

.button1, .continueButton {
        color: #ed1b24;
        height: 50px;
        width: 120px;
        font-size: 22px;
        letter-spacing: 2px;
        text-align: center;
        background-color: white;
   		-webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #f44336;
        bottom: 0;
        position: absolute;
        float:center;
        margin-left: 290px;
        margin-right: auto;
        margin-bottom: 80px;
        vertical-align: bottom;
}
#buttonLeft, #buttonRight {
        color: #ed1b24;
        height: 50px;
        width: 120px;
        font-size: 22px;
        letter-spacing: 2px;
        text-align: center;
        background-color: white;
    	-webkit-transition-duration: 0.4s; /* Safari */
   		transition-duration: 0.4s;
    	cursor: pointer;
    	border: 2px solid #f44336;
        display: inline;
}
#buttonLeft {
        float: left;
}
#buttonRight {
        margin-left:20px;
        float: right;
}
#buttons {
        bottom: 0;
        position: absolute;
        float:center;
        display: block;
        margin-left: 220px;
        margin-right: auto;
        margin-bottom: 80px;
        vertical-align: bottom;
        height: 50px;
        width: 260px;
}
a {
        text-decoration: none;
        color: #ed1b24;
}
.continueButton {
        display: none;
}
.button1:hover, .continueButton:hover, .installButton:hover, #buttonLeft:hover, #buttonRight:hover {
	    background-color: #f44336;
    	color: white;
}
.inprogressImage {
        width: 25px;
}
.inprogressSmallImage {
        width: 18px;
}

